
.categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.2rem;

    .news-title {
        font-family: 'opensans-bold';
        font-size: 1.2rem;
        margin-bottom: .5rem;
    }

    .author-name {
        font-family: 'opensans-italic';
        font-size: .7rem;
    }

    .news-description {
        font-family: 'opensans-bolditalic';
        font-size: .9rem;
        color: red;
    }
}