.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #080c67;
    padding: .3rem .5rem;
    border-radius: 50px;
    margin: .7rem 0;

    .search-box {
        border: none;
        margin-left: .5rem;
        background: none;
        outline: none;
        color: #080c67;
        font-family: 'opensans-medium';
        font-size: .7rem;
        width: 100%;
    }
}