.footer-container {
    background-color: #080c67;
    padding: .8rem 1rem;
    overflow-x: hidden;

    .sub-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .menu-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .menu-header {
                font-family: 'opensans-bold';
                font-size: .8rem;
                color: #fff;
                margin: 0;
                padding: 0;
            }

            .footer-menu {
                color: #fff;

                .menu-link {
                    text-decoration: none;
                    color: #fff;
                    font-family: 'opensans-medium';
                    font-size: .7rem;
                }
            }
        }
    }
}